body {
    justify-items: center;
    background-color: rgba(211, 253, 253, 0.664);
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}

a, a:hover, u {
    color: gray;
    text-align: none;
}

.times-list {
    background-color: white;
    border-color: black;
    padding: 10px 20px;
    border: 3px solid;
}

.items {
    background-color: white;
    padding: 10px;
    margin: 40px;
}

img {
    max-width: 600px;
    max-height: 600px;
}

ul {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}